/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #666;
  border-top: 8px solid #4aaaa5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

h1, h2, h3 {
  color: #4aaaa5;
}

h3 .panel-title {
  color: #4aaaa5;
}

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
  text-align: center;
  color: #fff;
}

.navbar {
  background-color: #fff;
}

.navbar-header {
  background-color: #4aaaa5;
}

.navbar-header .navbar-brand {
  color: #fff;
}








